<% @page_title = "Edit User: #{@admin_user.name}" -%>

<div class="well well-sm">
  <h4><%= link_to("Back", {:action => 'index'}, :class => 'back-link') %>/Edit User</h4>
</div>

<div class="user edit">
  <%= form_for(:admin_user, :url => {:action => 'update', :id => @admin_user.id}) do |f| %>
  <%= render(:partial => 'form', :locals => {:f => f} ) %>

    <div class="form-buttons">
      <%= submit_tag('Update User\'s Contact') %>
    </div>
  <% end %>
</div>
